#defcont {
    color:#696969;
    font-family: "monospace";
    text-align: justify;
    text-justify: inter-word;
}
#head {
    color:#A9A9A9;
    font-family: "monospace";
    text-align: justify;
}